
body, html {
  width: 100%;
  overflow-x: hidden; 
}

.header-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
   box-shadow: 0 2px 20px #f1eded;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-right: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
 
}

.search-container {
  position: relative;
  width: 300px;
  gap: 20px;
}

.search-bar {
  width: 100%;
  padding: 8px 40px 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.store-icon {
  
  width: 30px;
  height: 30px;
 
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.cart-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cart-count {
  position: absolute;
  top: 1px; 
  right: 100px; 
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}


.login-button {
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 4px;
}

* {
  box-sizing: border-box; 
}

/*=====================For item cards========================================*/


.item {
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.item-image img{

    width : 300px;
    height : 300px;
    margin-top: 15%;
    transition: opacity 0.3s ease;
    

}
.item-image.dimmed img {
  width : 300px;
  height : 300px;
  margin-top: 15%;
  opacity : 0.4;
}

.item-card {
  
  display : flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
 
}
.item-image:hover {
  filter: brightness(100%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
}
.price-rating{
  display: flex;
  justify-content: center;
  gap : 30px;

  
}
.wishlist-notify {
  
  margin-top : 4%;
  margin-bottom: 3%;
  border-radius : 4px;
  justify-content: center;
  gap : 20px;
  display: flex;
  
}
.discount-description {
  margin-top : 7%;
  color : purple;
}
.item-title {
  margin-top: 8%;
   color : purple;
}
.discount-items {
  justify-content: center;
  
}
.discount {
  color: red;
}
.heart-icon {
 
  font-size: 24px;
  cursor: pointer;
}
.add-cart  {
  margin-right: 20%;
  border-radius : 8px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  width : 100px;
}
.heart-icon.red {
  color: red;
}
.heart-icon.white{
  color: white;
  /* border: 2px solid  black; */
  border-radius: 0px 0px;
  stroke: black;
  stroke-width: 40px;
}
.notify-button {
  background-color: lightgreen;
  border-radius : 8px;
  margin-left: 10px;
  width : 100px;
}
/*===============*/
.exclusive-deals {
  justify-content: center;
  display: flex;

}
.our-products {
  display: flex;
}